<!DOCTYPE html>
<html>
  <head>
    <title>Jardineria Zona norte</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/gallery.css' />
  </head>
  <body>
    
    <nav class="navbar">
        <ul>
            <li><a href="/">Jardineria</a></li>
            <li><a href="/gallery">Servicios</a></li>

            <li><a href="/contact">Contacto</a></li>
            <li><a href="/plantas">Plantas</a></li>
          <!--<li><a href="#about">About</a></li>-->
        </ul>
      </nav>
    
      <div class="header">
        <h1>JARDINERIA ZONA NORTE </h1>
        <h2> DESDE 2016 BRINDANDO EL MEJOR SERVICIO - CUIT 20-30447601-0</h2>
        <h2>TURNOS POR WHATSAPP 15 5051 5151</h2>
        <h2><a href="https://wa.me/541150515151" target="_blank">Consultame por WHATSAPP</a></h2>
        <!--<h2><a href="https://www.linkedin.com/in/diego-alfonso-garcia-lopez/">saber mas de mi, visita mi perfil laboral en linkedin </a>-->
      
  </div>
<br>


<img src="/images/constanciadeCuit.png" style="width:100%">
    <!--<div class="text">Caption Text</div>-->
  </div>
</div>
<br>
<div class="qr">
<img src="/images/QRjardineriaVicenteLopezQR.png" style="width:50%">
    <!--<div class="text">Caption Text</div>-->
  </div>
</div>
</div>
<!-- The dots/circles
<div style="text-align:center">
  <span class="dot" onclick="currentSlide(1)"></span>
  <span class="dot" onclick="currentSlide(2)"></span>
  <span class="dot" onclick="currentSlide(3)"></span>
  <span class="dot" onclick="currentSlide(4)"></span>
  <span class="dot" onclick="currentSlide(5)"></span>
  <span class="dot" onclick="currentSlide(6)"></span>
  <span class="dot" onclick="currentSlide(7)"></span>
  <span class="dot" onclick="currentSlide(8)"></span>

</div>
 -->
<script>
  var myIndex = 0;
  carousel();
  
  function carousel() {
    var i;
    var x = document.getElementsByClassName("mySlides");
    for (i = 0; i < x.length; i++) {
      x[i].style.display = "none";  
    }
    myIndex++;
    if (myIndex > x.length) {myIndex = 1}    
    x[myIndex-1].style.display = "block";  
    setTimeout(carousel, 3000); // Change image every 2 seconds
  }
  </script>


  </body>
</html>
