<!DOCTYPE html>
<html>
  <head>
    <title>Jardineria Vicente Lopez</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/gallery.css' />

  </head>
  <body>
    <nav class="navbar">
      <ul>
        <li><a href="/">Jardineria</a></li>
        <li><a href="/gallery">Servicios</a></li>
  
        <li><a href="/contact">Contacto</a></li>
        <li><a href="/plantas">Plantas</a></li>
        <!--<li><a href="#about">About</a></li>-->
      </ul>
    </nav>


    <div class="container">
      <div class="cuadro">
        <h2>ELECTRICIDAD BASICA</h2>
        <p>CAMBIO DE ENCHUFES, TOMA-CORRIENTES, CONEXION DE ARTEFACTOS DE LUZ INTERIOR/EXTERIOR, CONEXION DE CAMARAS WIFI</p>
      </div>
      <div class="cuadro">
        <h2>PINTURA Y PEQUEÑA ALBAÑILERIA</h2>
        <p>PINTURA EXTERIOR E INTERIOR - IMPERMEABILIZACION DE SUPERFICIES</p>
      </div>
      <div class="cuadro">
        <h2>CARPINTERIA</h2>
        <p>REPARACIONES Y ARREGLOS DE CARPINTERIA, AJUSTE DE PUERTAS Y VENTANAS DE MADERA, CONSTRUCCION DE PERGOLAS</p>
      </div>
      <div class="cuadro">
        <h2>SERVICIOS GENERALES</h2>
        <p>COLOCACION DE CUADROS, ESPEJOS, CORTINAS Y PERSIANAS, ARREGLOS DE CINTAS DE PERSIANAS</p>
      </div>
    </div>
    
  
</body>
</html>
