<!DOCTYPE html>
<html>
  <head>
    <title>Jardineria Vicente Lopez</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body><!--
    <nav class="navbar">
      <ul>
        <li><a href="#home">Home</a></li>
        <li><a href="#news">News</a></li>
        <li><a href="#contact">Contact</a></li>
        <li><a href="#about">About</a></li>
      </ul>
    </nav>
    -->
    <h1>Alfonso Parques & Jardines</h1>
    <h2>Vicente Lopez - Zona Norte - TURNOS solo x WHATSAPP 15 5051 5151 </h2>
    
    <p></p>

    <!-- Slideshow container -->
<div class="slideshow-container">

  <!-- Full-width images with number and caption text -->
  <div class="mySlides fade">
    
    <img src="/images/img1.jpg" style="width:100%">
    <!--<div class="text">Caption Text</div>-->
  </div>

  <div class="mySlides fade">
    
    <img src="/images/img2.jpg" style="width:100%">
   
  </div>

  <div class="mySlides fade">
    
    <img src="/images/img3.jpg" style="width:100%">
   
  </div>
  <div class="mySlides fade">
    
    <img src="/images/img4.jpg" style="width:100%">
    
  </div>
  <div class="mySlides fade">
    
    <img src="/images/img5.jpg" style="width:100%">
    
  </div>
  <div class="mySlides fade">
    
    <img src="/images/img6.jpg" style="width:100%">
    
  </div>
  <div class="mySlides fade">
    
    <img src="/images/img7.jpg" style="width:100%">
    
  </div>
  <div class="mySlides fade">
    
    <img src="/images/img8.jpg" style="width:100%">
   
  </div>
  <!-- Next and previous buttons -->
  <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
  <a class="next" onclick="plusSlides(1)">&#10095;</a>
</div>
<br>

<!-- The dots/circles -->
<div style="text-align:center">
  <span class="dot" onclick="currentSlide(1)"></span>
  <span class="dot" onclick="currentSlide(2)"></span>
  <span class="dot" onclick="currentSlide(3)"></span>
  <span class="dot" onclick="currentSlide(4)"></span>
  <span class="dot" onclick="currentSlide(5)"></span>
  <span class="dot" onclick="currentSlide(6)"></span>
  <span class="dot" onclick="currentSlide(7)"></span>
  <span class="dot" onclick="currentSlide(8)"></span>

</div>

<script>
  let slideIndex = 1;
showSlides(slideIndex);

// Next/previous controls
function plusSlides(n) {
  showSlides(slideIndex += n);
}

// Thumbnail image controls
function currentSlide(n) {
  showSlides(slideIndex = n);
}

function showSlides(n) {
  let i;
  let slides = document.getElementsByClassName("mySlides");
  let dots = document.getElementsByClassName("dot");
  if (n > slides.length) {slideIndex = 1}
  if (n < 1) {slideIndex = slides.length}
  for (i = 0; i < slides.length; i++) {
    slides[i].style.display = "none";
  }
  for (i = 0; i < dots.length; i++) {
    dots[i].className = dots[i].className.replace(" active", "");
  }
  slides[slideIndex-1].style.display = "block";
  dots[slideIndex-1].className += " active";
}
</script>


  </body>
</html>
